
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("assests/mountain.jpg");
  background-size: cover;
  width: 100%;
  height: 100dvh;
  background-position: center;
  backdrop-filter: blur(10px);
}
.container{
display: flex;
justify-content: center;
align-items: center;
padding: 8rem;

}
.card{
  height: 65vh;
    width: 60vh;
   border: 1px solid black;
  border-radius:2rem ;
  position: static;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(10px);
  min-width: 100px;
  padding: 10px;
  
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

#search {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    height: 35px;
    font-size: larger;
}

#inputtext{
font-size: 30px;
    margin-top: 20px;
    padding: 20px 10px 10px 20px;
}
.find_btn{
     width: 95%;
    border: 1px solid white;
    height: 45px;
    margin: 19rem 10px 10px 10px;
    background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}
.find_btn:hover{
cursor: pointer;
}


